table {
  /* margin: 0 auto; */
  font-size: large;

  /* border: 1px solid black; */
}

h1 {
  text-align: center;
  color: #006600;
  font-size: xx-large;
  font-family: 'Gill Sans',
    'Gill Sans MT', ' Calibri',
    'Trebuchet MS', 'sans-serif';
}

.thead {
  background-color: black;
  color: white;
}


td {
  background-color: #f1f3c8;
  /* border: 1px solid black; */
}

tr {

  /* color: rgb(61, 15, 15); */
  font-size: 20px;
  font-weight: 900;
}

#text {
  color: black;
}

#text:hover {
  color: #e9500f;
}

th,
td {
  font-weight: lighter;
  /* border: 1px solid black; */
  padding: 15px;

}

table {
  margin: 0 auto;
  font-size: large;
  border: 1px solid black;
}


nav {
  background-color: rgb(65, 160, 192);
}

#new-category {
  float: right;
  margin-bottom: 10px;
}